'fileTypes': [
  'lang'
]
'name': 'DotLang'
'patterns': [
  {
    'include': '#metatags'
  }
  {
    'include': '#tags'
  }
  {
    'include': '#comments'
  }
  {
    'include': '#reference'
  }
  {
    'include': '#identical_strings'
  }
  {
    'include': '#python_vars'
  }
]
'repository':
  'comments':
    'begin': '#'
    'end': '$'
    'name': 'comment.line.number-sign.dotlang'
  'identical_strings':
    'captures':
      '1':
        'name': 'constant.character.dotlang'
      '2':
        'name': 'keyword.other.dotlang'
    'match': '(?i)(^[^#;].*)(\\{ok\\})'
    'patterns': [
      {
        'include': '#python_vars'
      }
    ]
  'metatags':
    'captures':
      '1':
        'name': 'keyword.other.dotlang'
      '2':
        'name': 'variable.other.dotlang'
    'match': '(^##.*?:)(.*$)'
  'python_vars':
    'captures':
      '1':
        'name': 'variable.other.dotlang'
    'match': '(%\\([a-z0-9._-]*\\)s|%s)'
  'reference':
    'begin': ';'
    'end': '$'
    'name': 'string.unquoted.line.dotlang'
    'patterns': [
      {
        'include': '#python_vars'
      }
    ]
  'tags':
    'captures':
      '1':
        'name': 'keyword.other.dotlang'
      '2':
        'name': 'variable.other.dotlang'
      '3':
        'name': 'keyword.other.dotlang'
    'match': '(^##)(.*)(##$)'
'scopeName': 'text.dotlang'
